{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <!-- Видео как фон -->
    <div class="backgorund-wrapper">
        <video class="background-video" autoplay muted loop>
            <source src="{{ url_for('static', path='videos/background-animation.mp4') }}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <div class="overlay"></div>
    </div>
    <!-- Контент поверх видео -->
    <div class="no-auth-wrapper">
        <div class="header-wrapper">
            <div class="text-logo">
                <a href="">CSPrediction</a>
            </div>
        </div>

        <div class="form-wrapper">
            <div class="form-holder">
                <div class="form-title">
                    Авторизация
                </div>
                <div class="form-description">
                    Для использования функций сервиса <span class="color-blue">CSPrediction</span> войди в аккаунт
                </div>
                <form class="form" hx-post="{{ login_api }}" hx-target="#result" hx-swap="innerHTML">
                    <input name="login" type="text" placeholder="Логин">
                    <input name="password" type="password" placeholder="Пароль">
                    <button type="submit" class="btn-blue-solid">Войти в сервис</button>
                    <div id="result"></div>
                </form>
                <a href="{{ url_for('AUTH:REGISTER') }}" class="btn-white-stroke">Создать аккаунт</a>
                <div class="form-description-mini">
                    CSPrediction является Наследием ЮНЕСКО, помните и чтите это всегда в любой момент своей нелёгкой жизни...
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/fix_margin_bottom.js') }}"></script>
{% endblock %}