{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <!-- Видео как фон -->
    <div class="backgorund-wrapper">
        <video class="background-video" autoplay muted loop>
            <source src="{{ url_for('static', path='videos/background-animation.mp4') }}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <div class="overlay"></div>
    </div>
    <!-- Контент поверх видео -->
    <div class="no-auth-wrapper">
        <div class="header-wrapper">
            <div class="text-logo">
                <a href="">CSPrediction</a>
            </div>
        </div>

        <div class="form-wrapper">
            <div class="form-holder">
                <div class="form-title">
                    Создание аккаунта
                </div>
                <div class="form-description">
                    Заполни форму, чтобы создать аккаунт и начать пользоваться чудесным сервисом <span class="color-blue">CSPrediction</span>
                </div>
                <form class="form" hx-post="{{ register_api }}" hx-target="#result" hx-swap="innerHTML">
                    <input name="username" type="text" placeholder="Логин" autocomplete="off">
                    <input name="email" type="email" placeholder="Почта" autocomplete="off">
                    <input name="password" type="password" placeholder="Пароль (мин. 8 символов)" autocomplete="off">
                    <input name="password_confirm" type="password" placeholder="Подтверждение пароля" autocomplete="off">
                    <button type="submit" class="btn-blue-solid">Создать аккаунт</button>
                    <div id="result"></div>
                </form>
                <div class="form-description-mini">
                    Уже есть аккаунт? Тогда воспользуйся формой <a href="{{ url_for('AUTH:LOGIN') }}" class="blue-link">Авторизации</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}