{% extends "dashboard.html" %}

{% block title %}
    {{ title }}
{% endblock %}

<div id="header_main">
    {% block header %}
        {% include "header.html" %}
    {% endblock %}
</div>

{% block page %}
    {% if transactions %}
    <div class="page-wrapper">
        <div class="container">
            <div class="page-holder">
                <div class="table-page-holder">
                    <div class="page-title">
                        История транзакций
                    </div>
                    <div class="page-content">
                        <div class="table-holder">
                            <div class="row title">
                                <div class="cell title">
                                    № транзакции
                                </div>
                                <div class="cell title">
                                    Дата предсказания
                                </div>
                                <div class="cell title">
                                    № предсказания
                                </div>
                                <div class="cell title">
                                    Тип транзакции
                                </div>
                                <div class="cell title">
                                    Сумма транзакции
                                </div>
                            </div>
                            <div class="table-content">
                                {% for transaction in transactions %}
                                <div class="row">
                                    <div class="cell">
                                        {{ transaction.id }}
                                    </div>
                                    <div class="cell">
                                        {{ transaction.date }}
                                    </div>
                                    <div class="cell">
                                        {{ transaction.predict_id }}
                                    </div>
                                    {% if transaction.deposit %}
                                    <div class="cell winner">
                                        {{ transaction.deposit }}
                                    </div>
                                    <div class="cell">
                                        <div>
                                            <span class="balance-int winner">{{ transaction.amount_int }}</span><span class="balance-float">{{ transaction.amount_float }}</span>
                                        </div>
                                        <img src="{{ url_for('static', path='images/balance_coin_24px.svg') }}">
                                    </div>
                                    {% else %}
                                    <div class="cell loser">
                                        {{ transaction.spend }}
                                    </div>
                                    <div class="cell">
                                        <div>
                                            <span class="balance-int loser">{{ transaction.amount_int }}</span><span class="balance-float">{{ transaction.amount_float }}</span>
                                        </div>
                                        <img src="{{ url_for('static', path='images/balance_coin_24px.svg') }}">
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="page-wrapper">
        <div class="container">
            <div class="page-holder table">
                <div class="page-title">
                    История транзакций
                </div>
                <div class="page-content empty">
                    Вы ещё не оставили свой след в истории...
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}