<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon_ai.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3/dist/ext/reveal.js"></script>
</head>
<body>
    <div id="pop-ups-wrapper" class="pop-ups-wrapper">
        
    </div>
    <div id="header_main">
        {% block header %}
            
        {% endblock %}
    </div>
    {% block page %}
        
    {% endblock %}
    
    <script src="{{ url_for('static', path='js/dropdownlist.js') }}"></script>
    <script src="{{ url_for('static', path='js/copy_text.js') }}"></script>
    <script>
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        // evt.target — элемент, в который HTMX вставил HTML
        if (evt.detail.target.id === 'result' || evt.target.matches('.pop-ups-wrapper')) {
        copyInput();
        }
    });
    </script>
</body>
</html>